*{
    margin: 0;
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    scrollbar-color: brown skyblue;
}
body{
    background-image: linear-gradient(lightblue, lightyellow);
    height: auto;
}
.login{
    width: 300px;
    height: 300px;
    margin-top: 20px;
    background-image: linear-gradient(lightyellow, lightblue);
    border-radius: 20px;
    box-shadow: 5px 5px 10px rgb(199, 48, 48);
    margin-bottom: 295px;
}
h1{
    text-align: center;
    padding-top: 10px;
    color: rgb(199, 48, 48);
    text-shadow: 2px 2px 5px lightyellow;
}
.btn{
    background-color: rgb(199, 48, 48);
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 2px 2px 5px grey;
    margin: 20px;
}