*{
    margin: 0px;
}
.nav{
    width: 100%;
    height: 60px;
    background-color: brown;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.text{
    color: skyblue;
    text-decoration: none;
    font-size: 20px;
}
.text:hover{
    color: lightyellow;
}
.text:active{
    color: lightsalmon;
}